<div class="pagina-lista-categorias">
    <div class="container w-25 mt-3">
        <div class="logo-star-wars">
            <img class="img-fluid" src="../../assets/imagens/logo/pngwing.com.png" alt="">
        </div>
    </div>
    <div class="cards-categorias container">
        <div class="py-4">
            <div class="row gx-3">
                <a [routerLink]="categoria.toLowerCase()" class="itens col-md-12 col-lg-4 mb-lg-0"
                    *ngFor="let categoria of categorias; index as i">
                    <app-categorias [categorias]="categoria"
                        [imagensCategorias]="imagensCategorias[i]"></app-categorias>
                </a>
            </div>
        </div>
    </div>
</div>