.card-categorias .card {
    transition: 0.2s all;
    transform: scale(0.8);
}

.card-categorias .card:hover {
    transition: 0.2s all;
    transform: scale(1)
}

.card-body {
    background-color: black;
    color: yellow;
    border-radius: 10px;
}

.card {
    border: solid 4px yellow;
    background-color: black;
    width: 218px;
    height: 394px;
}

.lista-dos-filmes {
    color: white;
}

.imagem-card-filmes {
    height: 295px;
    object-fit: cover;
}

img {
    width: 100%;
}