<div class="card-video-curso">
    <div class="card-base-video-curso">
        <div class="imagem-card-base pb-2">
            <div class="imagem-gradiente">
                <img class="img-fluid rounded" src="{{filme.urlImage}}" alt="" />
            </div>
        </div>
        <div class="informacoes-basicas-do-curso">
            <div class="nome-do-curso row">
                <p class="col">{{filme.titulo}}</p>
                <p class="col text-end">{{filme.tempoVideo}} horas</p>
                <p class="text-danger">{{filme.likes}} pessoas gostaram</p>
            </div>
        </div>
    </div>
    <div class="card card-info container-sm">
        <div class="card-body pb-0">
            <div class="primeiro-bloco row align-items-baseline">
                <div class="col-3">
                    {{filme.tempoVideo}} horas
                </div>
                <div class="col-6 ">
                    {{filme.inscritos}} inscritos
                </div>
                <div class="fs-4 col-3 d-flex justify-content-end">
                    <i class="bi bi-heart">
                    </i>
                </div>
            </div>
            <div class="segundo-bloco row align-items-center">
                <div class="pe-3 nome-do-curso">
                    <p class="titulo-curso fs-5 col-8 pb-2">
                        {{filme.titulo}}
                    </p>
                </div>
            </div>
            <div class="terceiro-bloco row">
                <div class="informacoes-do-curso">
                    <p>
                        {{filme.descricao}}
                    </p>
                </div>
            </div>

            <div class="quarto-bloco pb-3">
                <button AlunoDeslogado class="botao-card-info btn btn-light btn-lg text-info fw-semibold"
                    routerLink="curso">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-auto pe-0">
                            <i class="bi bi-lock-fill fs-4 ">
                            </i>
                        </div>
                        <div class="col-auto">
                            Saiba mais
                        </div>
                    </div>
                </button>
                <button AlunoLogado class="botao-card-info btn btn-light btn-lg text-info fw-semibold"
                    routerLink="curso">Começar</button>
            </div>
        </div>
    </div>
</div>