.card-categorias .card {
    transition: 0.2s all;
    transform: scale(0.9);
}

.card-categorias .card:hover {
    transition: 0.2s all;
    transform: scale(1)
}

.card-body {
    background-color: black;
    color: yellow;
    border-radius: 10px;
}

.card {
    border: solid 3px yellow;
    background-color: black;
}

.imagem-card-categorias {
    height: 200px;
    width: 100%;
    object-fit: cover;
}